

body {
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(224, 123, 195);
  background: #F9DFF4;
  background-attachment: fixed;
  margin: 0;
  min-height: 100vh;
}

body.index {
  background: linear-gradient(45deg, rgba(249, 223, 244, 1) 0%, rgba(249, 223, 244, 1) 30%, rgba(234, 154, 210, 1) 30%, rgba(234, 154, 210, 1) 75%, rgba(249, 223, 244, 1) 75%, rgba(249, 223, 244, 1) 100%);
}

.homepage_box {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fffffe;
  box-shadow: 10px 10px 0px rgba(152, 144, 144, 0.4);
  border-radius: 8px;
  line-height: 1.5;
}

div.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


div.gallery-item {
  margin: 20px;
  border: 3px solid rgb(255, 255, 255);
  width: 300px;
  line-height: 1.25;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

div.gallery-item ul {
  margin: 10px;
}


/*Header*/

.header {
  background-color: white;
  padding: 10px 10px;
  overflow: hidden;
}

.header a {
  float: left;
  color:rgb(224, 123, 195);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 8px;
}

.Header-right {
  float: right;
  
}